$color-btn:#E86F54;
$color-btn-hover:#E25B41;
$text-btn:white;
$footer-bg-color:black;
$burger-menu-bg:#E86F54;
$text-menu:white;
$text-header:black;
$text-header-desktop:white;
$genefal-text:black;
$text-footer:white;
$title-color:black;
$store-text:rgba(0, 0, 0, 1);
